<% layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h3>Create a New Listing</h3> <br>
            <form method="POST" action="/listings">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a Catchy Title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">description</label>
                    <textarea name="listing[description]" class="form-control"></textarea>
                </div>

                <div class="mb-3">
                    <label for="image-filename" class="form-label">Image File Name</label>
                    <input type="text" name="listing[image][filename]" placeholder="Enter image filename"
                        class="form-control">
                </div>
                <div class="mb-3">
                    <label for="image-link" class="form-label">Image Link</label>
                    <input type="text" name="listing[image][url]" placeholder="Enter image URL" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
                    </div><br>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" name="listing[price]" placeholder="Enter price" class="form-control">
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form><br>
        </div>
    </div>